*.pdf
*.out
*.err
*.log
.DS_Store
__init__.py
*.pyc
*.png
*.eps
*.generated
*.condor
*.dag
*.sub
*.rescue*
*.metrics
*.dagstatus
*.root
*.diff
*.patch

JetAnalyzers/plots
JetAnalyzers/test/crab*

JECDatabase

JetAnalyzers/output/DYJets*
JetAnalyzers/output/GJet*
JetAnalyzers/output/QCD*